body {
    background-color: cadetblue;
    height: 600px;
}

#Login_form {
    width: 400px;
    height: 350px;
    position: relative;
    border-radius: 5px;
    left: 35%;
    right: 35%;
    top: 170px;
    background-color: white;
}

#form_title {
    text-align: center;
    font-family: Shabnam-Bold;
    font-size: large;
}